body {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  background-color: #FFFDF5;
  color: #262626;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 1em 0;
  text-align: center;
  font-family: garamond, serif;
  background-color: #003DAA;
  color: #FFFDF5;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  color: #003DAA;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #262626;
  padding-bottom: 0.75em;
}

button {
  padding: 1em;
  background-color: #f1f1f1;
  margin-bottom: 1em;
  border: 1px solid #262626;
  border-radius: 3px;
}

input {
  border: none;
  border-bottom: 1px solid #262626;
  width: 280px;
  background-color: #FFFDF5;
  font-size: 14px;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

input:focus {
  outline: none;
}

.container {
  padding: 2em;
}

.addAssignment, .closeMenu {
  text-align: right;
}

.list {
  display: grid;
  grid-row-gap: 0.25em;
}

.listItem {
  font-size: 18px;
  padding-top: 1em;
}

.dateDue {
  font-size: 12px;
  font-style: bold;
  text-transform: uppercase;
  color: grey;
}

.listItemName {
  padding-bottom: 0.5em;
  padding-top: 0.25em;
  border-bottom: 1px solid darkgrey;
}

.sublist {
  display: grid;
  grid-row-gap: 0.25em;
  padding: 1em;
  font-size: 15px;
}

.loginContainer {
  text-align: left;
  padding-top: 10em;
  padding-left: 2em;
}

.loginWelcome {
  font-size: 34px;
  font-weight: bold;
  color: #262626;
  padding-bottom: 2em;
}

.emailField, .passwordField {
  display: grid;
  padding: 1em 0;
  width: 250px;
  background-color: #FFFDF5;
  font-size: 10px;
  font-weight: bold;
  color: #999999;
}

.loginButtonContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.loginButton {
  width: 100%;
  margin-top: 20px;
  background-color: #003DAA;
  padding: 1.5em;
  color: #FFFDF5;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 0;
}

.newTaskForm {
  display: grid;
  grid-row-gap: 0.25em;
  padding: 1em;
  margin: auto;
  justify-content: center;
  width: 320px;
}

.formSectionTitle {
  padding-top: 1em;
}

.difficulty, .priority {
justify-content: center;
margin: auto;
padding: 0.5em;
}

.select {
  width: auto;
}

.navMenu {
  display: grid;
  grid-row-gap: 0.25em;
  padding: 1em;
  margin: auto;
  width: 320px;
}

.closeMenu {
  margin-bottom: 4em;
}

.navSection {
  padding-bottom: 2em;
}

.reminderslistItem {
  padding: 2em 0;
  border-bottom: 1px solid lightgrey;
}

.profilePic {
  padding: 2em 4em 0 4em;
}

.profileInfo {
  background-color: white;
  width: 250px;
  height: auto;
  padding: 1em;
  border: 1px solid lightgrey;
  color: #999999;
  font-size: 12px;
  position: absolute;
  bottom: -40px;
  box-shadow: 6px 8px 40px 0 rgba(0, 0, 0, 0.2);
}

.profileName {
  font-size: 32px;
  font-weight: bold;
  color: #262626;
  padding-bottom: 0.25em;
}

.profileContainer {
  position: relative;
}
